USE [master]
GO
/****** Object:  Database [GestionMatos]    Script Date: 01/04/2022 16:31:06 ******/
CREATE DATABASE [GestionMatos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionMatos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GestionMatos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionMatos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GestionMatos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionMatos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionMatos]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 01/04/2022 16:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[Tel] [varchar](20) NOT NULL,
	[Mail] [varchar](50) NOT NULL,
 CONSTRAINT [Client_PK] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interventions]    Script Date: 01/04/2022 16:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interventions](
	[InterID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[MaterielID] [int] NOT NULL,
 CONSTRAINT [PK_Interventions] PRIMARY KEY CLUSTERED 
(
	[InterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Interventions_MATERIEL_AK] UNIQUE NONCLUSTERED 
(
	[MaterielID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIEL]    Script Date: 01/04/2022 16:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIEL](
	[MaterielID] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[NoSerie] [varchar](50) NOT NULL,
	[DateInstallation] [datetime] NULL,
	[MTBF] [int] NULL,
	[Description] [varchar](500) NULL,
	[SiteID] [int] NOT NULL,
	[ClientID] [int] NOT NULL,
	[TypeID] [int] NOT NULL,
 CONSTRAINT [PK_MATERIEL] PRIMARY KEY CLUSTERED 
(
	[MaterielID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SITE]    Script Date: 01/04/2022 16:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SITE](
	[SiteID] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[Adresse] [varchar](100) NOT NULL,
 CONSTRAINT [SITE_PK] PRIMARY KEY CLUSTERED 
(
	[SiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 01/04/2022 16:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[Description] [varchar](500) NULL,
 CONSTRAINT [Type_PK] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Interventions]  WITH CHECK ADD  CONSTRAINT [FK_Interventions_MATERIEL] FOREIGN KEY([MaterielID])
REFERENCES [dbo].[MATERIEL] ([MaterielID])
GO
ALTER TABLE [dbo].[Interventions] CHECK CONSTRAINT [FK_Interventions_MATERIEL]
GO
ALTER TABLE [dbo].[MATERIEL]  WITH CHECK ADD  CONSTRAINT [FK_MATERIEL_Client] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ClientID])
GO
ALTER TABLE [dbo].[MATERIEL] CHECK CONSTRAINT [FK_MATERIEL_Client]
GO
ALTER TABLE [dbo].[MATERIEL]  WITH CHECK ADD  CONSTRAINT [FK_MATERIEL_MATERIEL] FOREIGN KEY([MaterielID])
REFERENCES [dbo].[MATERIEL] ([MaterielID])
GO
ALTER TABLE [dbo].[MATERIEL] CHECK CONSTRAINT [FK_MATERIEL_MATERIEL]
GO
ALTER TABLE [dbo].[MATERIEL]  WITH CHECK ADD  CONSTRAINT [FK_MATERIEL_SITE] FOREIGN KEY([SiteID])
REFERENCES [dbo].[SITE] ([SiteID])
GO
ALTER TABLE [dbo].[MATERIEL] CHECK CONSTRAINT [FK_MATERIEL_SITE]
GO
ALTER TABLE [dbo].[MATERIEL]  WITH CHECK ADD  CONSTRAINT [FK_MATERIEL_Type] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Type] ([TypeID])
GO
ALTER TABLE [dbo].[MATERIEL] CHECK CONSTRAINT [FK_MATERIEL_Type]
GO
USE [master]
GO
